{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunshine Pet World Portal</title>
    <link rel="stylesheet" href="{% static 'css/Gallery.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header">
      <div class="logo"  style="margin-top: -45px;">
        <img src="{% static 'img/logo.png'%}" width="210px" height="220px">
      </div>
      <div class="nav" style="margin-top: -40px;">
       <nav>
        <ul>
         <li class="nav1" style="margin-left:20px;margin-right:20px;"> <a href="../">Home</a></li> 
        <div class="dropdown">  
          <button class="drop">About <i class="fa fa-caret-down" aria-hidden="true"></i>
          </button>
        <div class="dropdown-content">
          <a href="../admn">Admin</a> 
          <a href="../customer">Customer</a>  
          <a href="../handler">Handler</a>   
          <a href="../helper">Helper</a>  
          <a href="../trainer">Trainer</a>
        </div>  
        </div>
         <li class="nav1"> <a href="../service">Service</a></li>
         <li class="nav1"> <a href="../gallery">Gallery</a></li>
         <li class="nav1"> <a href="../contact">Contact</a></li>
        </ul>
       </nav></div>
      <div class="login"  style="margin-top: -40px;">
         <button class="b1"  style="margin-left:180px;"><a href="../login">Login</a></button>
      </div>
    </div><br><br>
    <div class="pagename">
    <h1 style="padding-top: 20px;">GALLERY</h1>
    </div>
    <div class="gallery">
      <img src="https://wallpapercave.com/wp/wp2447030.jpg" width="350px" height="250px">
      <img src="https://tse1.mm.bing.net/th?id=OIP.v7JSOU-EylB5TL7ro7cbNwHaEK&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse1.mm.bing.net/th?id=OIP.6LiD56P2f8DB1C4gvBpTNgHaHa&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse3.mm.bing.net/th?id=OIP.5GoToMooXYN1P0VBJekTbAHaE8&pid=Api&P=0&h=180"width="350px" height="250px">
      <img src="http://1.bp.blogspot.com/-QcMA7jI5II0/UH09yeJZiaI/AAAAAAAAHMA/vyQr0goacss/s1600/32.jpg" width="350px" height="250px">
      <img src="https://tse2.mm.bing.net/th?id=OIP.WWX2p56tzOUeyPtiVIY32QHaEK&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse3.mm.bing.net/th?id=OIP.xnJtjEGmMtpWdFEAalTb3AHaE6&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse4.mm.bing.net/th?id=OIP.taTeaWTPQSmTSzcNlS_JxgHaEK&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse4.mm.bing.net/th?id=OIP.Qo20c3gge7KT0u1QMkT44wHaE6&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://cdn.wallpapersafari.com/83/37/YL9i0b.jpg" width="350px" height="250px">
      <img src="https://tse3.mm.bing.net/th?id=OIP.wf6KF8ueCCthn_8QDeERTgHaE7&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://usercontent1.hubstatic.com/13542444_f520.jpg" width="350px" height="250px">
      <img src="https://tse3.mm.bing.net/th?id=OIP.ZACyTSGdj3shHQF3RFaiKQHaEK&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse4.mm.bing.net/th?id=OIP.9-qcykO2CTZ2eaffMSdLpwHaE8&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse1.mm.bing.net/th?id=OIP.kCj1J6JE0aAiC4gzuB4n0AHaFj&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse4.mm.bing.net/th?id=OIP.q7pRCGAokNXeU6wA8wYbNAHaEK&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://images.saymedia-content.com/.image/t_share/MTc0OTY4MDIwNjg1ODI1NDc2/exotic-pets-legal-california.jpg" width="350px" height="250px">
      <img src="https://tse2.mm.bing.net/th?id=OIP.q5w8AP4vKxoK1PseM6YwYwHaE8&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse1.mm.bing.net/th?id=OIP.cyRApAS-vvcP4zKyrt6XYgHaEo&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse1.mm.bing.net/th?id=OIP.k9oUXNFvMhLvL7_JOGozrAHaFj&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse3.mm.bing.net/th?id=OIP.8WXOY0gPEJ0ux6n-BuL5qAHaFj&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse4.mm.bing.net/th?id=OIP.ia-S_N1hc3FQqVEQjzcUJgHaD9&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="https://tse2.mm.bing.net/th?id=OIP.W_r-tzoW4JhpjSmsHzIpkQHaE8&pid=Api&P=0&h=180" width="350px" height="250px">
      <img src="http://2.bp.blogspot.com/-jnTHuXq-8LU/T-3Nl__aZII/AAAAAAAAAcE/Hs4XueOrc84/s1600/pets+pics+(4).jpg" width="350px" height="250px">
   </div>
    <div class="footer" style="display: flex;">
       <div class="footer-content1">
          <img src="{% static 'img/logo.png'%}" width="350">
        </div>
        <div class="footer-content2">
          <h2>MENU</h2>
          <nav class="navigation" style="margin-left:15px;">
           <a href="../">Home</a>
            About
           <a href="../service">Service</a>
           <a href="../gallery">Gallery</a>
           <a href="../contact">Contact</a>
          </nav>
        </div>
        <div class="footer-content3">
          <h2 class="hh2">Subscribe <i class="fa-regular fa-bell"></i></h2>
          <input type="text" style="border-radius: 4px;"><br><br>
          <button class=b2 type="submit">submit</button>
        </div>
    </div>
</body>
</html>
