{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunshine Pet World Portal</title>
    <link rel="stylesheet" href="{% static 'css/Helper.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header">
      <div class="logo" style="margin-top: -45px;">
        <img src="{% static 'img/logo.png'%}" width="210px" height="220px">
      </div>
      <div class="nav" style="margin-top: -40px;">
       <nav>
        <ul>
         <li class="nav1"  style="margin-left:20px;margin-right:20px;"> <a href="../">Home</a></li> 
        <div class="dropdown">  
          <button class="drop">About <i class="fa fa-caret-down" aria-hidden="true"></i>
          </button>
        <div class="dropdown-content">
          <a href="../admn">Admin</a> 
          <a href="../customer">Customer</a>  
          <a href="../handler">Handler</a>   
          <a href="../helper">Helper</a>  
          <a href="../trainer">Trainer</a>
        </div>  
        </div>
         <li class="nav1"> <a href="../service">Service</a></li>
         <li class="nav1"> <a href="../gallery">Gallery</a></li>
         <li class="nav1"> <a href="../contact">Contact</a></li>
        </ul>
       </nav></div>
      <div class="login"  style="margin-top: -40px;">
         <button class="b1"  style="margin-left:180px;"><a href="../login">Login</a></button>
      </div>
    </div>
    <div class="pagename">
      <h1 style="padding-top:20px;">HELPER</h1>
    </div>
    <div class="container mt-5" style="background-image: url(https://img.freepik.com/free-photo/medium-shot-smiley-girl-posing-with-dog_23-2148861609.jpg?t=st=1722284057~exp=1722287657~hmac=683ad3cb86ea6ec594fa5db984fe306db1e5a9fb501f23b095b2cef241b54b05&w=1060); height: 650px; background-size: cover; background-repeat: no-repeat; margin-top: -20px;" >
      <p class="dropdown-item" style="margin-left:1%;padding:50px;color:black;font-size:large;">  

        The Helper Module in the Sunshine Pet World platform is designed to support and enhance the daily operations of the pet care environment.
        <br><br>*Assistance Requests:*<br>
               •  Allows pet owners and handlers to request assistance for various tasks, such as feeding, walking, grooming, or medical attention.<br>
               •  Requests are tracked and managed to ensure timely responses.
        <br><br> *Task Assignment:*<br>
               •  Automatically assigns tasks to available helpers based on their skills, availability, and proximity.<br>
               •  This ensures efficient use of resources and timely completion of tasks.
        <br><br> *Volunteer Coordination:*<br>
               •  Manages the scheduling and coordination of volunteers who assist with pet care.<br>
               •  It includes tools for volunteer registration, shift management, and task allocation.
        <br><br>  *Resource Management:*<br> 
               •  Tracks and manages resources such as pet supplies, equipment, and medications.<br>
               •  Ensures that helpers have access to the necessary resources to complete their tasks effectively.
        <br><br>*Training and Certification:*<br> 
               •  Provides training materials and certification programs for helpers, ensuring they are well-prepared and qualified to perform their duties.<br>
               •  This includes online courses, manuals, and assessments.
        <br><br> *Feedback and Evaluation:*<br> 
               •  Collects feedback from pet owners and handlers on the performance of helpers.<br>
               •  This feedback is used to evaluate and improve the quality of assistance provided.<br>
                 The Helper Module aims to enhance the efficiency and effectiveness of pet care operations,<br>
                 providing robust support to handlers and ensuring that pets receive consistent and high-quality care.  
      </p>
    </div>
   <div class="footer" style="display: flex;">
       <div class="footer-content1">
          <img src="{% static 'img/logo.png'%}" width="350">
        </div>
        <div class="footer-content2">
         <h2>MENU</h2>
          <nav class="navigation" style="margin-left: 15px;">
           <a href="../">Home</a>
            About
           <a href="../service">Service</a>
           <a href="../gallery">Gallery</a>
           <a href="../contact">Contact</a>
          </nav>
        </div>
        <div class="footer-content3">
          <h2 class="hh2">Subscribe <i class="fa-regular fa-bell"></i></h2>
          <input type="text" style="border-radius: 4px;"><br><br>
          <button class=b2 type="submit">submit</button>
        </div>
      </div>
</body>
</html>