{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunshine Pet World Portal</title>
    <link rel="stylesheet" href="{% static 'css/Login.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header">
      <div class="logo" style="margin-top: -45px;">
        <img src="{% static 'img/logo.png'%}" width="210px" height="220px">
      </div>
      <div class="nav" style="margin-top: -40px;">
       <nav>
        <ul>
         <li class="nav1" style="margin-right: 20px;margin-left: 20px;"> <a href="../">Home</a></li> 
        <div class="dropdown">  
          <button class="drop">About <i class="fa fa-caret-down" aria-hidden="true"></i>
          </button>
        <div class="dropdown-content">
          <a href="../admn">Admin</a> 
          <a href="../customer">Customer</a>  
          <a href="../handler">Handler</a>   
          <a href="../helper">Helper</a>  
          <a href="../trainer">Trainer</a>
        </div>  
        </div>
         <li class="nav1"> <a href="../service">Service</a></li>
         <li class="nav1"> <a href="../gallery">Gallery</a></li>
         <li class="nav1"> <a href="../contact">Contact</a></li>
        </ul>
       </nav></div>
      <div class="login" style="margin-top: -40px;">
         <button class="b1" style="margin-left: 180px;"><a href="../login">Login</a></button>
      </div>
    </div><br><br>
    <div class="pagename">
    <h1 style="padding-top: 20px;">LOGIN</h1>
    </div>
    <div class="login form">
        <div class="form">
          <form action="login" method="POST">
            {% csrf_token %}
            {% if messages %}
        {% for message in messages %}
            <h6>{{message}}</h6>
         {% endfor %}
         {% endif %}
                <label for="text">Username</label><br>
                <input type="text" placeholder="" name="Username"><br><br>
                <lable for="password">Password</lable><br>
                <input type="password" placeholder="password" name="Password"><br><br>
              <button class="submit">SUBMIT</button><br><br>
            </form>
        </div>
        <div>
          <button class="r1"><a href="../registration">Register</a></button>
        </div>
    </div>
      <div class="footer" style="display: flex;">
        <div class="footer-content1">
          <img src="{% static 'img/logo.png'%}" width="350">
        </div>
        <div class="footer-content2">
          <h2>MENU</h2>
          <nav class="navigation" style="margin-left: 15px;">
           <a href="../">Home</a>
            About
           <a href="../service">Service</a>
           <a href="../gallery">Gallery</a>
           <a href="../contact">Contact</a>
          </nav>
        </div>
        <div class="footer-content3">
          <h2 class="hh2">Subscribe <i class="fa-regular fa-bell"></i></h2>
          <input type="text" style="border-radius: 4px;"><br><br>
          <button class=b2 type="submit">submit</button>
        </div>
      </div>
</body>
</html>