.container{
box-shadow: 0 4px 10px;
 padding:30px; 
 width: 100%;
 max-width: 600px;
 border-radius: 10px;
}
.form-header{
  margin-bottom: 20px;
  text-align: center;
  color: rgb(41, 167, 216);
}
.form-group{
  margin-bottom: 15px;
}
label{
  display: block;
  margin-bottom: 5px;
  color: rgb(10, 196, 196);
}
input,select{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(20, 205, 205); 
}
.form-footer{
  text-align: center;
}
.submit{
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(18, 197, 233);
  border: none;
  border-radius: 10px;
  color: aliceblue;
  cursor: pointer;
}
.submit:hover{
  background-color: rgb(7, 76, 101);
}
footer{
  background:linear-gradient(to right,#3498db,#2c3e50);
}
.socialIcons{
  display: flex;
  justify-content: center;
  padding-left:1%;
  padding-top: 20px;
}
.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color:white;
  margin:10px;
  border-radius: 50%;
  border:2px solid blue;
}
  .socialIcons a i{
    font-size: 2em;
    opacity: 0.9;
    color:blue;
  }
  /* Hover Effect on social media Icons */
  .socialIcons a:hover{
    background-color:#1a7cbe;
    transition: 0.5s;
    
  }
  .footerBottom{
    padding: 20px;
    text-align: center;
  }
  .footerBottom p{
    color:white;
    font-size: large;
  }
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400px;
    margin: 0px 5px;
  }
  @media (max-width:700px){
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
  }